:host {
  display: flex;
}

.placeholder {
  display: flex;
  position: relative;
  background-color: black;
  color: white;
  padding: 5px;
  margin-right: 100px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 1.75em;
  border-radius: 0.25em;
  transition: all 0.1s;
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
}

::ng-deep {
  html,
  body {
    height: 100%;
    overflow: hidden;
  }
}
