:host {
  display: flex;
  align-items: center;
  height: 100%;
}

.placeholder {
  display: flex;
  position: relative;
  background-color: black;
  color: white;
  padding: 5px;
  margin-right: 100px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 1.75em;
  border-radius: 0.25em;
  transition: all 0.1s;
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
}

::ng-deep {
  html,
  body {
    height: 100%;
    overflow: hidden;
  }

  html {
    background: #333
      url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/68397/forest-fly-agaric-fog-moss-fliegenpilz.jpg)
      no-repeat center bottom;
    background-size: cover;
  }
}
